:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --root-padding: 2rem;
  --color-default: #000;
  --color-gray: #ccc;
  --color-neutral: #fff;
  --color-layer: #f5f5f5;
  --color-mistgray: #f1f1f1;
  --color-smokewhite: #f4f4f4;
  --color-neutrallight: #ddd;
  --color-neutralgray: #8c8c8c;
  --color-softerror: #c2101f;
  --color-softwarning: #e2b00c;
  --border-sm: 0.25rem;
  --padding-sm: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  all: unset;
}

.app__root {
  position: relative;
}

.app__content {
  padding: 0 var(--root-padding);
}

@media screen and (max-width: 63rem) {
  .app__root {
    --root-padding: 1rem;
  }
}
